 .u-section-1 {
  min-height: 643px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 813px;
  background-image: url("images/pexels-photo-6569318.jpeg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 540px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  line-height: 2;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 273px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 9px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 8px;
}

.u-section-1 .u-text-3 {
  margin: 22px 0 0 8px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 273px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 670px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 225px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 225px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -452px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -836px;
  }

  .u-section-1 .u-image-1 {
    min-height: 770px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1325px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -734px;
  }

  .u-section-1 .u-image-1 {
    min-height: 485px;
  }
}